{% extends 'base.html' %}
{% load static %}
{% block title %}malger{% endblock title %}
{% block othercss %}
<!-- About CSS -->
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock othercss %}
{% block content %}
<!-- Cover -->
<img class="image-cover" src="{% static 'assets/python_code.png' %}" alt="" />
<!-- Intro -->
<section class="intro-section" id="intro">
  <div class="intro-box container mt-4">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="{% static 'assets/avatar2.png' %}" alt="" class="intro-avatar" />
      </div>
      <div class="second-row col-md-6 my-auto">
        <h1>Hi, I'm <span class="intro-name">Mikael Alger</span></h1>
        <h3 class="typetext"></h3>
        <a href="https://www.linkedin.com/in/mikael-alger"
          ><i class="fab fa-linkedin-in intro-icons"></i
        ></a>
        <a href="https://github.com/malgr"><i class="fab fa-github intro-icons"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- About -->
<section class="about-section" id="about">
  <div class="container">
    <h2>About Me</h2>
    <p>
      I am a graduate Electrical Engineer from University of Technology, Sydney and always learning
      about Python, WebDev and DevOps.
    </p>
    <p>
      Aside from that I like reading about the latest tech gadgets, 3D printing, 3D modelling and
      gaming.
    </p>
    <h4>Programming Languages and Tools</h4>
    <div class="toolset row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li><i class="fab fa-python"></i>Python</li>
          <li><i class="fas fa-desktop"></i>Django</li>
          <li><i class="fab fa-html5"></i>HTML</li>
          <li><i class="fab fa-css3-alt"></i>CSS</li>
          <li><i class="fab fa-js-square"></i>Javascript</li>
          <li><i class="fab fa-wordpress"></i>Wordpress</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-unstyled">
          <li><i class="fas fa-database"></i>PostgreSQL</li>
          <li><i class="fab fa-docker"></i>Docker</li>
          <li><i class="fab fa-aws"></i>AWS</li>
          <li><i class="fab fa-ubuntu"></i>Ubuntu</li>
          <li><i class="fas fa-microchip"></i>C/C++ (STM32/Arduino)</li>
          <li><i class="fab fa-autoprefixer"></i>Autodesk Fusion 360</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Projects -->
<section class="projects-section" id="projects">
  <div class="container">
    <h2>My Projects</h2>
    <div class="card-box">
      <h4 class="card-name">OzBargain Telegram Bot</h4>
      <p class="card-content">
        A python script to list NordVPN servers with proxy or socks configuration. Users can specify
        location and maximum server load as input parameters.
      </p>
      <a href="https://github.com/malgr/OzBargain-Telegram-Notifier" class="btn btn-orange">Git</a>
      <span class="text-muted mx-2">Python</span>
    </div>
    <div class="card-box">
      <h4 class="card-name">NordVPN Proxy Lister</h4>
      <p class="card-content">
        A python script to list NordVPN servers with proxy or socks configuration. Users can specify
        location and maximum server load as input parameters.
      </p>
      <a href="https://github.com/malgr/NordVPN-Server-Lister" class="btn btn-orange">Git</a>
      <span class="text-muted mx-2">Python</span>
    </div>
    <div class="card-box">
      <h4 class="card-name">This Website</h4>
      <p class="card-content">
        Using Django Web Framework and Bootstrap. Deployed to an EC2 instance running Docker, using
        PostgreSQL database in RDS and serving static and media files with Nginx.
      </p>
      <a href="#" class="btn btn-orange">Git</a>
      <span class="text-muted mx-2">Python</span>
      <span class="text-muted mx-2">HTML</span>
      <span class="text-muted mx-2">CSS</span>
      <span class="text-muted mx-2">Javascript</span>
    </div>
  </div>
</section>
<!-- Contact -->
<section class="contact-section" id="contact">
  <div class="container">
    <h2>Get in touch</h2>
    <p>
      You can reach me at <i class="fas fa-envelope mr-1"></i
      ><a href="mailto:alger.mikael@gmail.com">mikael@malger.dev</a>
    </p>
  </div>
</section>
{% endblock content %}
{% block otherjs %}
<!-- About JS -->
<script src="{% static 'js/about.js' %}"></script>
{% endblock otherjs %}
