{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <!-- Base CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />

    <!-- Other CSS -->
    {% block othercss %}{% endblock othercss %}
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-dark bg-dark" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'about' %}"
          ><i class="fas fa-terminal mr-1"></i>malger</a
        >
      </div>
    </nav>
    <!-- Content -->
    {% block content %} {% endblock %}
    <!-- Footer-->
    <footer class="footer bg-dark">
      <!-- Copyright-->
      <div class="copyright py-3 text-center text-white">
        <div class="container">Copyright © Mikael Alger 2021</div>
      </div>
    </footer>

    <!-- Other JS -->
    {% block otherjs %}{% endblock otherjs %}

    <!-- Bootstrap Bundle with jQuery and Popper -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
