h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
}

section p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

a,
a:hover {
  color: inherit;
}

.image-cover {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.intro-box {
  background-color: #e9ecef;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
}
.intro-avatar {
  width: 15rem;
  border-radius: 50%;
}
.intro-name {
  color: #bd5d38;
}
.intro-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: #fff;
  background-color: #bd5d38;
  border-radius: 100%;
}
.intro-icons:hover,
.btn-orange:hover {
  filter: brightness(80%);
}

.btn-orange,
.btn-orange:hover {
  color: #fff;
  background-color: #bd5d38;
  border-color: #bd5d38;
}

.card-box {
  background-color: #e9ecef;
  padding: 2.5rem 1.5rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.about-section i {
  font-size: 1.5rem;
  padding: 0.7rem;
}
.about-section li {
  font-size: 1.2rem;
}
.about-section,
.projects-section,
.contact-section {
  padding: 3rem 1rem 0rem 1rem;
}
.contact-section {
  padding-bottom: 3rem;
}

/* Responsive Start */
@media screen and (max-width: 768px) {
  .image-cover {
    width: 100%;
    height: 200px;
  }

  .second-row {
    text-align: center;
  }
}
/* Responsive End */

/* Animations Start */
.typetext::after {
  content: "|";
  animation: none;
}

.showanim.typetext::after {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* Animations End */
